.zbox-toast {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
  border: 1px solid #D8D8D8 !important;
  border-radius: 3px !important;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

  color: var(--zbox-text) !important;
  background-color: var(--zbox-secondary) !important;
  width: var(--zbox-width) !important;
}

  .zbox-toast .zbox-toast-header {
    display: flex !important;
    flex-direction: row !important;
    gap: .5rem !important;

    padding: .5rem .5rem .5rem .75rem !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    font-weight: 700 !important;

    color: var(--zbox-title) !important;
    background-color: var(--zbox-primary) !important;
  }

.zbox-toast-header .zbox-toast-title {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100% !important;
}

.zbox-toast-icon.zbox-toast-close {
  cursor: pointer;
  transform: scale(1.1);
}

  .zbox-toast-icon.zbox-toast-close:hover {
    transform: scale(1.2);
  }


.zbox-toast-header .zbox-toast-icon {
  filter: invert(var(--zbox-toast-icon-filter, 0%)) 
          saturate(0%) 
          brightness(var(--zbox-toast-icon-filter, 0%)) 
          contrast(100%);
}

.zbox-toast .zbox-toast-body {
  padding-top: .75rem !important;
  padding-bottom: .75rem !important;
  padding-right: .75rem !important;
  padding-left: 2.375rem !important;

  overflow-y: auto;
    display: -webkit-box;
  -webkit-box-orient: vertical;
}

.zbox-toast-body .zbox-toast-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: var(--toast-line-height);
}