.zbox {
  position: fixed !important;
  margin-right: .5rem !important;
  margin-left: .5rem !important;
  padding: .25rem !important;
}
.zbox-top {
  top: 0 !important;
}
.zbox-bottom {
  bottom: 0 !important;
}
.zbox-left {
  display: flex;
  flex-direction: column !important;
  left: 0 !important;
  align-items: flex-start !important;
}
.zbox-middle {
  display: flex;
  flex-direction: column !important;
  left: 50% !important;
  align-items: center !important;
}
.zbox-right {
  display: flex;
  flex-direction: column !important;
  right: 0 !important;
  align-items: flex-end !important;
}
