.zbox {
  position: fixed !important;
  margin-right: .5rem !important;
  margin-left: .5rem !important;
  padding: .25rem !important;
}
.zbox-top {
  top: 0 !important;
}
.zbox-bottom {
  bottom: 0 !important;
}
.zbox-left {
  left: 0 !important;
}
.zbox-middle {
  left: 50% !important;
}
.zbox-right {
  right: 0 !important;
}

.zbox-toast {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
  border: 1px solid #D8D8D8;
  border-radius: 3px;

  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

  .zbox-toast .zbox-toast-header {
    display: flex !important;
    flex-direction: row !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    padding-right: .5rem !important;
    padding-left: .75rem !important;
    gap: .5rem !important;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 700 !important;
    color: #ffffff;
  }

  .zbox-toast .zbox-toast-body {
    padding-top: .75rem !important;
    padding-bottom: .75rem !important;
    padding-right: .75rem !important;
    padding-left: 2.375rem !important;
  }

/*Theme - Split*/

/*Style - Pastel*/
.zbox-pastel.zbox-primary > .zbox-toast-header {
  background-color: #107C10;
}
.zbox-pastel.zbox-primary > .zbox-toast-body {
  background-color: #E7F2E6;
}
.zbox-pastel.zbox-secondary > .zbox-toast-header {
  background-color: #107C10;
}
.zbox-pastel.zbox-secondary > .zbox-toast-body {
  background-color: #E7F2E6;
}
.zbox-pastel.zbox-success > .zbox-toast-header {
  background-color: #107C10;
}
.zbox-pastel.zbox-success > .zbox-toast-body {
  background-color: #E7F2E6;
}
.zbox-pastel.zbox-danger > .zbox-toast-header {
  background-color: #107C10;
}
.zbox-pastel.zbox-danger > .zbox-toast-body {
  background-color: #E7F2E6;
}
.zbox-pastel.zbox-warning > .zbox-toast-header {
  background-color: #107C10;
}
.zbox-pastel.zbox-warning > .zbox-toast-body {
  background-color: #E7F2E6;
}
.zbox-pastel.zbox-info > .zbox-toast-header {
  background-color: #107C10;
}
.zbox-pastel.zbox-info > .zbox-toast-body {
  background-color: #E7F2E6;
}
.zbox-pastel.zbox-success > .zbox-toast-header {
  background-color: #107C10;
}
.zbox-pastel.zbox-success > .zbox-toast-body {
  background-color: #E7F2E6;
}
.zbox-pastel.zbox-success > .zbox-toast-header {
  background-color: #107C10;
}
.zbox-pastel.zbox-success > .zbox-toast-body {
  background-color: #E7F2E6;
}