.zb-input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

  .zb-input input {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
  }

    .zb-input input:focus {
      border-color: #0078d4;
      box-shadow: 0 0 0 1px #0078d4;
    }
