

/* ZenBoxUiClasses */

.zb-input {
  display: flex;
  align-items: center;
  position: relative;
  width: 20rem;
}

  .zb-input input {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
  }

    .zb-input input:focus {
      border-color: #0078d4;
      box-shadow: 0 0 0 1px #0078d4;
    }

.zb-clear-btn {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #888;
  display: none;
}

.zb-code {
  background-color: lightgray;
  border-radius: 4px;
  padding-inline-start: .25rem;
  padding-inline-end: .25rem;
  font-family: Consolas, monospace;
}
